In [1]:
(404,"error")

(404, 'error')

In [2]:
def get_tuple():
    return (404,"error")

In [3]:
#tuple拆解法

(code, message) = get_tuple()
print(code)
print(message)

404
error

In [4]:
#1個元素的tuple
(404,)

(404,)

In [5]:
list()

[]

In [6]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
list(('a','b','c',1,2,3))

['a', 'b', 'c', 1, 2, 3]

In [9]:
#浮號建立
stu1=[78,98,56,74,79]
stu1

[78, 98, 56, 74, 79]

In [10]:
for score in stu1:
    print(score)

78
98
56
74
79

In [17]:
enmpy_list = []
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
big_birds = ['emu', 'ostrich', 'cassowary']
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [18]:
first_names

['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [19]:
first_names[5]

IndexError: list index out of range

In [21]:
type(first_names)

list

In [22]:
type(10)

int

In [23]:
type(10.0)

float

In [24]:
type("robert")

str

In [25]:
len(first_names)

5

In [26]:
first_names.append('robert')
first_names

['Graham', 'John', 'Terry', 'Terry', 'Michael', 'robert']

In [27]:
first_names.insert(0,"Hsu")
first_names

['Hsu', 'Graham', 'John', 'Terry', 'Terry', 'Michael', 'robert']