In [25]:
import numpy as np
import pandas as pd

n1 = np.random.randint(200,300,size=(10,))
s1 = pd.Series(data=n1,index=[f"學生{i+1}" for i in range(10)])
display(s1+100)
display(s1.values)
display(s1.index)

學生1     398
學生2     337
學生3     397
學生4     337
學生5     336
學生6     316
學生7     394
學生8     326
學生9     398
學生10    346
dtype: int64

array([298, 237, 297, 237, 236, 216, 294, 226, 298, 246])

Index(['學生1', '學生2', '學生3', '學生4', '學生5', '學生6', '學生7', '學生8', '學生9', '學生10'], dtype='object')

In [26]:
import requests
import pandas as pd

# 設定time為獲取中文姓名100筆的倍數。time=3，就是300筆的意思。
times = 1
cnames = []
for x in range(times):
    url = 'http://www.richyli.com/name/index.asp'
    r = requests.get(url)
    r.encoding = 'big5'
    
    # 將網頁中的資料以分行的方式存成文字檔
    result = r.text.splitlines()
    
    # 114是中文姓名開始的列，找到最後一個「、」，設定成為字串的切片位置。
    char_index = result[114].rfind("、")
    temp = result[114][:char_index]
    
    # 將temp的100筆姓名新增到cnames中
    cnames.append(temp)

# 將每100筆姓名的list加一個「、」，再組合成字串存到my_names中
my_names = "、".join(str(x) for x in cnames)
print(my_names)

陳文友、王維堅、趙明倫、蔡孟勳、潘俊榮、陳芳祥、趙美華、張苑裕、蔡淑財、楊威紹、吳雅雯、賴家銘、連侑汝、林竣富、王亮蓉、曾貞儀、莊惠琦、李于婷、蔡玉漢、吳嘉慧、張玉華、陳興甫、蔡意瑄、許嬌興、張奎妮、黃玉亨、謝志鴻、黃俊男、侯智偉、聶昕萱、林紹桓、鄭智鈞、鄭凱為、陳奕昌、郭家銘、儲羽東、黃柏玄、陳宏士、張文群、傅瑜群、邱銘琇、吳岱雲、林文甫、吳香凱、吳雅芳、林瑞紫、張少季、王志財、方巧倫、傅大胤、張書泉、張玉文、呂育菁、呂佳政、李憶歡、何志傑、鄭婷婷、謝奕君、賴新綺、陳愛伶、張婉菁、梁淑美、李俊賢、黃純茜、林建宇、王婉菁、楊佳萱、謝以仁、李靜如、游得毓、蘇婷平、顧雯強、桂宛玲、吳原皓、張仕翰、劉佳琦、周禮琪、陳欣卿、陳俊杰、陳建勳、陳淑皓、楊乃琳、黃國依、黃瑜洋、高家瑋、林韻如、高添甫、陳家偉、艾琳柔、謝雅婷、鄭慧方、賴嘉文、陳彥安、陳為木、陸玄隆、林倩謙、王婉妹、李柏廷、曾孟儒、陳志善

In [27]:
#把別人的寫好的程式變成自己的function
import requests
def getNames(num):
    times = 1
    cnames = []
    for x in range(times):
        url = 'http://www.richyli.com/name/index.asp'
        r = requests.get(url)
        r.encoding = 'big5'
        
        # 將網頁中的資料以分行的方式存成文字檔
        result = r.text.splitlines()
        
        # 114是中文姓名開始的列，找到最後一個「、」，設定成為字串的切片位置。
        char_index = result[114].rfind("、")
        temp = result[114][:char_index]
        
        # 將temp的100筆姓名新增到cnames中
        cnames.append(temp)
    print(type(cnames[0]))
    names = cnames[0].split('、')
    return names[:num]

#改寫成抓取一次變成100筆資料或是更多筆資料儲存
# names = getNames(100)
getNames(5)

<class 'str'>

['楊美啟', '馮筠玄', '林書豪', '賴倫元', '陳秀傑']

In [28]:
import numpy as np
import pandas as pd

n2 = np.random.randint(50,100,size=(5,5))
dataFrame = pd.DataFrame(data=n2,
            #index=names[:5],
             index=getNames(5),
             columns=["國文","英文","數學","地理","歷史"]
             )
dataFrame

<class 'str'>

     國文  英文  數學  地理  歷史
曾弘凌  74  75  89  73  65
張嘉音  91  95  62  83  61
姜奕君  64  91  58  67  64
劉怡如  94  75  76  72  54
洪明平  54  96  97  60  84

In [29]:
dataFrame["國文"]
dataFrame[["國文","英文"]]
total = dataFrame["國文"] + dataFrame["英文"] + dataFrame["數學"] + dataFrame["地理"] + dataFrame["歷史"]
dataFrame["總分"] = total 
dataFrame

     國文  英文  數學  地理  歷史   總分
曾弘凌  74  75  89  73  65  376
張嘉音  91  95  62  83  61  392
姜奕君  64  91  58  67  64  344
劉怡如  94  75  76  72  54  371
洪明平  54  96  97  60  84  391

In [30]:
import numpy as np
import pandas as pd

n2 = np.random.randint(50,100,size=(5,5))
dataFrame = pd.DataFrame(data=n2,
             index=[f"{index+1}{name}" for index,name in enumerate(getNames(5))],
             columns=["國文","英文","數學","地理","歷史"]
             )
dataFrame

<class 'str'>

      國文  英文  數學  地理  歷史
1童欣怡  90  56  83  64  88
2郭盈君  70  92  92  92  62
3李儒琇  91  95  55  91  73
4劉喜城  66  55  80  60  51
5黃宜婷  68  73  52  76  85