In [3]:
import numpy as np
import pandas as pd

n1 = np.random.randint(200,300,size=(10,))
s1 = pd.Series(data=n1,index=[f"學生{i+1}" for i in range(10)])
display(s1+100)
display(s1.values)
display(s1.index)

學生1     362
學生2     304
學生3     343
學生4     398
學生5     334
學生6     342
學生7     390
學生8     367
學生9     399
學生10    381
dtype: int64

array([262, 204, 243, 298, 234, 242, 290, 267, 299, 281])

Index(['學生1', '學生2', '學生3', '學生4', '學生5', '學生6', '學生7', '學生8', '學生9', '學生10'], dtype='object')

In [4]:
import requests
import pandas as pd

# 設定time為獲取中文姓名100筆的倍數。time=3，就是300筆的意思。
times = 1
cnames = []
for x in range(times):
    url = 'http://www.richyli.com/name/index.asp'
    r = requests.get(url)
    r.encoding = 'big5'
    
    # 將網頁中的資料以分行的方式存成文字檔
    result = r.text.splitlines()
    
    # 114是中文姓名開始的列，找到最後一個「、」，設定成為字串的切片位置。
    char_index = result[114].rfind("、")
    temp = result[114][:char_index]
    
    # 將temp的100筆姓名新增到cnames中
    cnames.append(temp)

# 將每100筆姓名的list加一個「、」，再組合成字串存到my_names中
my_names = "、".join(str(x) for x in cnames)
print(my_names)

林宜芬、王傑男、鄭馥伯、林雅綸、姜孟儒、李怡伶、洪家瑩、張杰威、陳雯軒、黃惠婷、許秀美、羅俊傑、曹淑敏、李舒涵、李家弘、歐舜汝、張世昌、駱國瑋、郭志偉、鄭淑芳、宋石育、楊克軒、黃雅惠、王柏南、錢哲銘、黃心珮、謝淑婷、陳郁蓮、傅筱倫、王志岳、吳思舜、王子雲、陳亭雯、毛語珍、賴嬌苓、陳珮珊、姚淑華、吳俊豪、劉怡茵、林怡婷、陳怡潔、曾志維、陳德行、張佩珊、賴淑惠、陳桂惟、盧美珠、丁美玲、張俊宏、張吉綺、江志鴻、楊阿堅、蔡承佳、駱彥廷、黃晉芃、王崇修、王冠屏、曹建緯、張仁綠、陳虹裕、王欣怡、仇剛琪、陳麗琪、郭友漢、張宗穎、王財映、張家英、林婉君、傅偉銘、張語忠、林信幸、陳雲正、曾世豪、陳偉樺、王思賢、賴筱雯、程珮菁、酆恩琪、張雅雯、陳冠達、黃玫修、吳孟修、林郁文、林璇蓁、蔡香君、林冠明、孫山信、王佳琪、李怡冰、張子勳、趙文瑞、林瑋坤、許伊婷、郭淑芬、張丹元、林雅婷、陳俊良、謝南旭、蔣心怡、吳禎茜

In [6]:
#把別人的寫好的程式變成自己的function
import requests
def getNames(num):
    times = 1
    cnames = []
    for x in range(times):
        url = 'http://www.richyli.com/name/index.asp'
        r = requests.get(url)
        r.encoding = 'big5'
        
        # 將網頁中的資料以分行的方式存成文字檔
        result = r.text.splitlines()
        
        # 114是中文姓名開始的列，找到最後一個「、」，設定成為字串的切片位置。
        char_index = result[114].rfind("、")
        temp = result[114][:char_index]
        
        # 將temp的100筆姓名新增到cnames中
        cnames.append(temp)
    print(type(cnames[0]))
    names = cnames[0].split('、')
    return names[:num]

#改寫成抓取一次變成100筆資料或是更多筆資料儲存
# names = getNames(100)
getNames(5)

<class 'str'>

['陳君聿', '林世映', '馮馨慧', '趙佳穎', '陳政誠']

In [8]:
import numpy as np
import pandas as pd

n2 = np.random.randint(50,100,size=(5,5))
dataFrame = pd.DataFrame(data=n2,
            #index=names[:5],
             index=getNames(5),
             columns=["國文","英文","數學","地理","歷史"]
             )
dataFrame

<class 'str'>

     國文  英文  數學  地理  歷史
李佩君  56  79  63  77  90
王志宏  69  65  57  98  89
廖俊霖  72  73  66  92  77
吳亭君  95  89  88  83  83
陳俊宏  80  60  58  98  74